body {
  background-color: rgb(225, 250, 250);
}
.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-color: rgba(238, 86, 59, 0.774);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.neu {
  width: 720px;
  padding: 20px;
  background: rgb(225, 250, 250);
  border-radius: 25px;
  box-shadow: inset -3px -3px 5px #ffffff90, inset 3px 3px 15px #00000090;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
